/* ---------------------------------------------------------
 1. Globals
-------------------------------------------------------- */
body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #595a5c;
	// MAC Font Flikering issue
	// Thanks to:
	// http://stackoverflow.com/questions/21278020/font-weight-turns-lighter-on-mac-safari
	-webkit-font-smoothing: subpixel-antialiased;
	font-smoothing: subpixel-antialiased;
}

%blue-title {
	background: #0091d0 none repeat scroll 0 0;
    color: #ffffff;
    display: block;
    font-family: "Roboto";
    font-weight: 100;
    line-height: 1.1;
    text-transform: uppercase;
}

.blue-title-h1 {
	@extend %blue-title;
    padding: 0 60px 0 10px;
}

.blue-title-h2 {
	@extend %blue-title;
	font-size: 36px;
    padding: 0 10px;
}

%img {
	border:0;
	height:auto;
	width:100%;
}

#loader {
	height: 200px;
	text-align: center;
	white-space: nowrap;

	&:before {
		content: "";
		display: inline-block;
		height: 100%;
		vertical-align: middle;
	}

	.inner {
		display: inline-block;
		vertical-align: middle;
		width: auto;
		margin: 0 auto;
	}
}

#mainContentContainer {
	position: relative;
	background: url(/img/bg-main-content.png) repeat;

	.home-page &,
	.about-us-page &,
	.enquiry-page &,
	.info-center-page & {
		border-top: 10px solid #00adcb;
		padding: 140px 0 65px;
	}

	.home-page & {
		.blue-title-h1 {
			display: inline-block;
		}

		.home-content p {
			clear: both;
		}
	}

	.about-us-page & {
		.about-us-content p {
			text-align: justify;
		}
	}

	.gold-crest-page & {
		border-top: 10px solid #e37926;

		.project-link {
			background:  #e37926;
		}
	}

	.springfields-page & {
		border-top: 10px solid #00a5ac;

		.project-link {
			background:  #00a5ac;
		}
	}

	.springdale-page & {
		border-top: 10px solid #603913;

		.project-link {
			background:  #8b6925;
		}
	}

	.blue-crest-page & {
		border-top: 10px solid #009edb;

		.project-link {
			background:  #009edb;
		}
	}

	.luxus-tower-page & {
		border-top: 10px solid #c59952;

		.project-link {
			background:  #c59952;
		}
	}
	
	#mainContent {
		margin-bottom: 60px;
	}
}

/* ---------------------------------------------------------
 2. Logo & Navigation
-------------------------------------------------------- */
header {
	position: relative;
	z-index: 1;
}

.logo {
	img {
		@extend %img;
	}
}

.navbar-default {
	background: none;
	border: 0 none;
	box-shadow: none;
	border-radius: 0;
}

.navbar {
	margin-bottom: 0px;
	margin-top: 55px;
}

.navbar-nav > li > a {
	padding-bottom: 5px;
}

.dropdown-menu .divider {
	margin: 3px 0;
}

.navbar-nav .dropdown-menu small {
	color: rgb(200, 200, 200);
    display: block;
    font-size: 70%;
    letter-spacing: 1px;
    margin-top: 0;
    text-transform: uppercase;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
	background: none;
	box-shadow: none;
}

.navbar-default .navbar-nav > .active > a > .name {
	background: none;
	box-shadow: none;
	border-bottom: 3px solid #e37a26;
}

.navbar-default .navbar-nav > .active > a:focus {
	outline: none;
}

@media only screen and (max-device-width: 767px) {
	.navbar {
		margin-top: 20px;
	}
	#mainNav {text-align: right;}
}

@media only screen and (min-device-width: 320px)  and (max-device-width: 379px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-top: 0;
	}
}

@media only screen and (min-device-width: 380px)  and (max-device-width: 449px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-top: -.5em;
	}
}

@media only screen and (min-device-width: 450px) and (max-device-width: 549px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-top: -1em;
	}
}

@media only screen and (min-device-width: 550px) and (max-device-width: 767px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-top: -1.5em;
	}
}

@media only screen and (min-device-width: 768px) {
	.navbar > .container .navbar-brand,
	.navbar > .container-fluid .navbar-brand {
		margin-top: -2em;
	}
}

/* ---------------------------------------------------------
 3. HeroCarousel
-------------------------------------------------------- */
#heroCarousel img {
	@extend %img;
}

/* ---------------------------------------------------------
 4. BadgeContainer
-------------------------------------------------------- */
#badgeContainer {
	position: absolute;
    top: 0;
    right: 0;

    img {
    	margin-top: -12%;

    	@media only screen and (max-device-width: 767px) {
    		& {
    			margin-top: -25%;
    		}
    	}
    }
}

/* ---------------------------------------------------------
 5. Google Maps
-------------------------------------------------------- */
#mapContainer img {
	@extend %img;
}


/* ---------------------------------------------------------
 6. Disclaimer
-------------------------------------------------------- */
#disclaimer {

	margin: 30px auto 10px;
	overflow: hidden;
	position: relative;

	h4 {
		font-size: inherit;
		font-weight: 300;
		margin-bottom: 5px; 
	}
	
	hr {
		margin-top: 0;
		margin-bottom: 10px;
	}

	p {
		text-align: justify;
		width: 91%;
	}

	p,
	.disclaimer-link {
		font-size: 11.55px;
	}

	.disclaimer-link {
		font-style: italic;
		text-decoration: underline;
		position: absolute;
		right: 30px;
		bottom: -5px;
	}
}

/* ---------------------------------------------------------
 7. Footer
-------------------------------------------------------- */
footer {
	font-size: 12px;
	padding: 5px 0 10px;
	border-top: 1px dashed #767678;
}

/* ---------------------------------------------------------
 8. Project-Content Generic for all Projects Pages
-------------------------------------------------------- */
.project-content {

	// centering logo and address
	> .row {

		&:before {
			content: "";
			vertical-align: middle;
			height: 100%;
		}

		.project-logo,
		.project-address {
			float: none;
			display: inline-block;
			vertical-align: middle;
		}
	}

	// Global styling for all Projects
	.project-logo,
	.project-address {
		margin-top: 2%;
	}

	@media only screen and (max-device-width: 640px) {
		.project-logo,
		.project-address {
			text-align: center;
			width: 100%;
		}

		.project-logo {
			margin-top: 14%;
		}
	}

	@media only screen and (max-device-width: 520px) {
		.project-logo {
			margin-top: 20%;
		}
	}

	@media only screen and (max-device-width: 420px) {
		.project-logo {
			margin-top: 25%;
		}
	}
	
	.info {
		display: inline-block;
	    font-size: 18px;
	    font-weight: 300;
	    line-height: 1.3em;
	    padding-top: 5px;
	    margin-left: -15px;
	}

	img,
	.large-photo {
		@extend %img;
	}

	.content {
		text-align: justify;
		padding: 30px 0 65px;
		
		@media only screen and (max-device-width: 767px) {
			padding-top: 50px;
		}
	}

	.list-container {
		margin-top: -10px;

		@media only screen and (max-device-width: 767px) {
			margin-top: 15px;
		}
	}

	.list {
		margin-left: -20px;
	}

	h4 {
		margin: 5px 0;
		font-weight: 400;
	}

	.project-link {
		font-size: 17px;
		font-weight: 300;
		color: #fff;
		text-align: center;
		letter-spacing: 2px;
		display: inline-block;
		margin-bottom: 60px;
		background: #e47927;
		width: 100%;
	}
}

/* ---------------------------------------------------------
 Enquiry Page
-------------------------------------------------------- */
#enquiryForm {
	.error {
		display: none;
	}
}