/* ---------------------------------------------------------
 8. The Springdale Project Page
-------------------------------------------------------- */
.springdale-page {
	
	.project-logo,
	.project-address {
		margin-top: 5%;
	}

	.highlighted {
		font-style: italic;
		color: #8b6925;
	}
	
}