<div class="project-content">

	<div class="row">
		<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4 project-logo">
			<img src="../img/projects/silver-crest/logo-silver-crest.png" alt="The Silver Crest Project Logo">
		</div>
		
		<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xs-offset-1 project-address">
			<p class="info">Plot No. 27 &amp; 28,<br> Sector 2, Taloje Panchanand<br>Navi Mumbai</p>
		</div>
		
		<div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 col-xs-offset-1 project-address">
			<p class="info">RERA<br>Project Registration Number<br>P52000004729</p>
		</div>
	</div>

	<div class="content row">
		<div class="col-xs-qw col-sm-12 col-md-12">
			<p>The Silver Crest is a stilt plus 15 floor pure Residential Tower consists of well-planned 2 flats of 2BHK plus terraces on each floor.</p>
			<p>All the material and fittings used in construction of the project are branded and very high quality such as Window system of Fenesta, Lifts of Schindler/Kone, Tiles of RAK Ceramics, Plumbing fittings of Jaguar, S S Railing etc.</p>
		</div>
		
	</div>

	<div class="row">
		<div class="col-sm-4">
			<a href="http://thesilvercrest.in/" target="_blank" class="project-link">thesilvercrest.in</a>
		</div>
	</div>

	<div class="row">

		<div class="col-sm-4">
			<img class="large-photo" src="../img/projects/silver-crest/large-photo.jpg" alt="Large Project Image">
		</div>
		
		<div class="col-sm-4">
			<h4>Project Architecture</h4>
			<ul class="list">
				<li>CIDCO transfer plot</li>
				<li>Stilt + 15 storey exclusively residential tower</li>
				<li>Each floor houses two 2BHK + Terrace apartments</li>
				<li>Earthquake resistant R.C.C. Construction</li>
			</ul>
		</div>

		<div class="col-sm-4">
			<h4>High-Quality Amenities</h4>
			<ul class="list">
				<li>Two branded automatic elevators of reputed make</li>
				<li>Vitrified flooring in all rooms from RAK (or equivalent brand)</li>
				<li>Branded fittings in toilet and kitchen from Jaquar (or equivalent brand)</li>
				<li>Powder coated window system</li>
				<li>Power back-up for common facilities</li>
				<li>Decorative entrance lobby, security check-post and intercom facilitty</li>
			</ul>
		</div>

		<div class="col-sm-4">
			<h4>Key Location</h4>
			<ul class="list">
				<li>5 mins walk from Taloje Panchanand Rly. Stn. &amp; proposed Metro stn</li>
				<li>15 mins drive from Proposed International Airport</li>
				<li>In front of CIDCO Garden</li>
				<li>Proximity to Asia's largest Central Park &amp; Golf Course</li>
				<li>Proximity to superior educational institutions &amp; high quality medical facilities</li>
			</ul>
		</div>

	</div>
	

</div>